*{

	font-family: sans-serif;
	margin: 0;
}

body{

	margin-top: 50px;
	width: 100%;
}

a{

	text-decoration: none;
	color: #4183c4;
	font-weight: bold;
}	

ul li a:hover{

	color: #444;
	text-decoration: underline;
}

span.weight{

	font-weight: bold;
}

span.routr{

	color: darkorange;
}

span.php{

	color: darkblue;
}

span.doctrine{

	color: green;
}

span.python{

	color:darkred;
}

span.jquery{

	color:purple;
	font-weight: bold;
}

span.spring{

	color: #A62900;
}

span.gradle{

	color: #9900FF;
}

span.jpa{

	color: #663300;
}

span.hibernate{

	color: #6B6B47;
}

span.simple{

	font-weight: bold;
	text-decoration: none;
}

span.bungeni{

	color: #b83d00 !important;
}

div.invert{

	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	display: inline-block;
	padding: 0;
	margin:0;
}

sup{

	font-weight: bold;
}

sup.demo{

	color:red;
}

h1{

	position: fixed;
	padding: 7px;
	background-color: lightgrey;
	border-bottom: 1px solid #000;
	margin: 0 auto;
	top:0;
	width: 100%;
	height: 35px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 a:not(:last-child){

	text-decoration: none;
	color: #fff;
	white-space: nowrap;
}

h1 a:last-child{

	text-shadow: none;
	color:#A62900;
	font-size: 20px;
}

h1 a:last-child:hover{

	color:green;
}

h1 a:hover{

	color: #80a6cd;
}

ul{

	margin-top:10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-left: 5px;
}

ul li{

	list-style-type: none;
	padding-bottom: 5px;
}

ul li p{

	margin-left:40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div b{

	text-decoration: underline;
}

div{

	display: inline-table;
	margin-left: 10px;
	margin-top: 15px;
}

#github-logo{

	border:1px #000 solid;
	height:80;
	height:25;
}

#github-logo:hover{

	background-color: white;
}

#username:hover{

	color: white;
	cursor: default;
}

.overlay{

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	visibility: visible;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

@media (min-width: 1024px){

    #contact-form {

        width:50%;
    }
}

@media (max-width: 1024px){

    #contact-form {

        width:70%;
    }
}

@media screen and (max-width: 480px){

	h1{

    	height: 60px;
    }

    #contact-form {

        width:80%;
    }
}

#contact-form{

	 margin: 0 auto;
	 display: block;
}

#contact-form div{

	display: block;
}

#contact-form div label{

	color:white;
	font-weight: bold;
	padding: 15px 0 ;
}

#contact-form div label, 
#contact-form div input, 
#contact-form div textarea{

	display: block;
	max-width: 90%;
}

#contact-form div input{

	width:100%;
	padding: 15px 15px;
	max-width: 90%;
}

#contact-form div textarea{

	border: 1px solid #aaa;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px 15px;
    min-height: 183px;
}

#contact-form div input, 
#contact-form div textarea,
#contact-form #send{

	border: 1px #000 solid;
}

#contact-form #send{


	color: #666;
    height: 70px;
    width:100%;
    max-width: 90%;
    line-height: 15px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

#spacer{

	width:100%;
	text-align: right;
}

#close{

	background-color: darkred;
	color: white;
	border:1px solid #000;
	padding:10px;
	font-weight: bold;
	cursor: pointer;
	margin-right:50px;
}

#close:hover{

	background-color: green;
}